                                
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer-wrapper">
                    <div class="section">
                        <div id="footer" class="clearfix">
                            <p>Powered by <a href="http://nodejs.org/">Node.js</a><br>
                                Source code: <a href="https://code.google.com/p/ncservice/">nCService</a><br>
                                Author: <a href="http://it.linkedin.com/pub/roberto-vera/30/a46/357/"><b>Roberto Vera</b></a><br>
                                Email: <a href="mailto:r78v10a07@gmail.com"><b>r78v10a07@gmail.com</b></a></p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
